<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1 class="log_in_ms"> Nuevo Usuario </h1>

  <div class="log_in_ms">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="log_in_ms">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>


  <div class="log_in_ms">
    <%= form.submit class: "btn btn-primary", method: :post%>
  </div>

<% end %>