<div class="advance-menu p-3">
        <span style="font-size: 24px">
          <b> Cartola de Anticipos</b>
        </span>




  <%if session[:user_id] %>
    <%= link_to "Anticipar Factura", anticipate_invoice_path, class:"align-right btn btn-primary mr-3" ,style:"background: #0055B8" %>
  <%else %>
    <%= link_to "Anticipar Factura", anticipate_invoice_path, class:"align-right btn btn-primary mr-3 disabled" ,style:"background: #0055B8" %>
<%end %>





</div>




<!--Sub Menu-->
<ul class="d-flex p-3 mt-3 submenu-ul">
  <li>
    <a href="#" class="nav-item active" active-color="orange">Ultimos Anticipos</a>

  </li>

  <li>
    <a href="#" class="nav-item" active-color="green">Simular Anticipos</a>

  </li>

  <li>
    <a href="#" class="nav-item" active-color="blue">Mis Deudores</a>
  </li>


</ul>


<p class="notice"></p>
<%if session[:user_id] %>

  <!--Se tiene que cambiar el estilo dependiendo el estado de la solicitud-->
  <% @advances_current_user.each do |adv| %>
    <div class="user_requests">
      <h5 style="color: #F3CB8B" class="mb-3">
        Estado de Solicitud #<%=adv.id %>
      </h5>
      <p>
        Estado: <button class="btn btn-warning mr-3"> <%=adv.status  %></button>
        <span class="mr-3">Fecha: <%=adv.date %></span>
        <span class="mr-3"> Número de Facturas: <%=adv.invoice_number %></span>
        <span class="mr-3"> Monto de Facturas: <%=adv.final_amount %> </span>
        <button class="btn btn-primary mr-3"> Chat con Ejecutivo </button>
        <button class="btn mr-3 see-details-button"> Ver Detalles </button>
      </p>
    </div>
  <%end %>



<%else %>
  <div class="alert alert-primary">
    Se debe de iniciar sesión antes de anticipar la factura
  </div>
<%end %>

<!--Estados de las solicitudes-->






<div class="d-flex search-bar-style">
  <div class="input-group col-3">
    <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <%=image_tag("search-interface-symbol.svg", size:"20x20") %>
            </span>
    </div>
    <input id="search-bar" type="text" class="form-control" placeholder="Deudor" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="col-3">
    <select class="custom-select" onchange="if (this.selectedIndex) orderTable(this.selectedIndex)">
      <option selected> Ordenar... </option>
      <option value="1" class="sort1"> Fecha (mayor a menor)</option>
      <option value="2" class="sort2"> Fecha (menor a mayor)</option>
      <option value="3" class="sort3"> ID (mayor a menor)</option>
      <option value="4" class="sort4"> ID (menor a mayor)</option>
    </select>
  </div>


</div>


<div>


  <!--Table data-->
  <table class = "table table-hover advance-table">
    <thead class = "">
    <tr>
      <th >ID</th>
      <th>Deudor</th>
      <th>Fecha</th>
      <th>N°Facturas</th>
      <th>% Anticipo</th>
      <th>Monto Final</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody id="tbody">
    <% @invoices.each do |inv| %>
      <tr class="tr">
        <td class="ID"> <%=inv.id %> </td>
        <td> <%=inv.debtor %></td>
        <td data-column="date"> <%= inv.date %> </td>
        <td> <%= inv.invoice_number %></td>
        <td> <%= inv.advance_per %> </td>
        <td> <%= inv.final_amount %><</td>
        <td>
          <button class="btn-warning btn" style="color: white">
            <%=inv.status %>
          </button>
        </td>
        <td>

          <!-- Profile Button dropdown options -->
          <div class="btn-group align-right">
            <a type="button" class="btn more-opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("more.png", size: "25x25") %>

            </a>
            <div class="dropdown-menu dropdown-menu-right">

              <%= link_to "Eliminar", "javascript:void(0)", class: "dropdown-item", onclick: "borrarAvances(#{inv.id })" %>
              <%= link_to "Modificar", "advances/" + inv.id.to_s + "/edit", class: "dropdown-item" %>



            </div>

          </div>


        </td>

      </tr>

    <% end %>

    </tbody>
  </table>


  <script>

    let search_bar = document.querySelector("#search-bar");
    let trs = document.querySelectorAll(".tr");
    let myArray = Array.prototype.slice.call(trs,0)


    search_bar.addEventListener('keyup', (e) =>{




        var PATTERN = e.target.value,
            filtered = myArray.filter(function (str) {
                return str.children[1].innerHTML.includes(PATTERN); });


        trs.forEach(function(value,index, parent){
            value.remove()
        })


        let tbody = document.querySelector("#tbody")


        filtered.forEach(function(value,index,parent){
            tbody.append(value)
        })
    })



      function orderTable(index){
          let selectedItem;
          let order_items = [];

          /*Fecha menor a mayor*/
          if (index == 1){
              selectedItem = document.querySelector(".sort1");
          }

          /*Fecha mayor a menor*/
          else if (index == 2){
              selectedItem = document.querySelector(".sort2");

              let values = []
              let trs = document.querySelectorAll(".tr")

              let column = $(this).data('column')

              trs.forEach(function(value,index, parent){
                  values.push(value)
              })

              values.sort((a,b) => a[column] > b[column] ? 1:
              -1)

              trs.forEach(function(value,index, parent){
                  value.remove()
              })

              let tbody = document.querySelector("#tbody")

              /* Insert elements inside the table*/
              values.forEach(function(value,index,parent){
                  tbody.append(value)
              })




          }
          /*ID Mayor a menor*/
          else if (index == 3){
              selectedItem = document.querySelector(".sort3");
              let values = []
              let trs = document.querySelectorAll(".tr")


              trs.forEach(function(value,index, parent){
                  values.push(value)
              })


              /*Sort Function*/
              values.sort(function(a, b) {
                  return b - a;
              });

              /* Clean table*/
              trs.forEach(function(value,index, parent){
                  value.remove()
              })

              let tbody = document.querySelector("#tbody")

              /* Insert elements inside the table*/
              values.forEach(function(value,index,parent){
                  tbody.append(value)
              })


              console.log(values)


          }
          /*ID Menor a mayor*/
          else if (index == 4){
              selectedItem = document.querySelector(".sort4")
              let values = []
              let trs = document.querySelectorAll(".tr")


              trs.forEach(function(value,index, parent){
                  values.push(value)
              })


              /*Sort Function*/
              values.sort(function(a, b) {
                  return a - b;
              });

              /* Clean table*/
              trs.forEach(function(value,index, parent){
                  value.remove()
              })

              let tbody = document.querySelector("#tbody")

              /* Insert elements inside the table*/
              values.forEach(function(value,index,parent){
                  tbody.append(value)
              })


              console.log(values)

          }

      }

    function borrarAvances(avanceID){

        let avance;
        let ids = document.querySelectorAll(".ID")


        var http = new XMLHttpRequest();
        var url = 'delete_advance/' + avanceID;

        var params = 'orem=ipsum&name=binny';
        http.open('POST', url, true);

        //Send the  proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(params);

        ids.forEach(function callback(currentValue, index, array){

            if (currentValue.innerHTML == avanceID){
                currentValue.parentElement.remove()
            }
        })



    }
  </script>



  <%== pagy_nav(@pagy) %>



</div>